.bookList{
      
    color: blue;
}

ul{
    list-style-type: none;
}

.title {
    margin-top: 200px;
}

.homeList {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
   
   
}

.centerwrapper
{
   display: flex;
   margin: auto;
   width: 46%;
}

.homeBook {
    display: inline-block;
    margin-right: 60px;
    width: 200px;
    height: 170px;
    background-color: white;
    border-radius: 5%;
    color: black;
 
}

.bookTitle {
    color: black
}

.homeBtn{
     display: inline-block;
     padding: 0.35em 1.2em;
     border: 0.1em solid #FFFFFF;
     margin: 0 0.3em 0.3em 0;
     border-radius: 0.12em;
     box-sizing: border-box;
     text-decoration: none;
     font-family:'Roboto',sans-serif;
     font-weight: 300;
     color:#FFFFFF;
     transition: all 0.2s;
     background-color: darkgray;
}

.homeBtn:hover{
    color:#000000;
    background-color:#FFFFFF;
}

